name: Build Container Image

on:
  push:
    branches: ["master"]
    paths:
      - Dockerfile
  workflow_dispatch:
env:
  BUILD_IMAGE_NAME: ${{ github.event.repository.name }} # default le-cert-maker

jobs:
  build:
    strategy:
      matrix:
        build-targets:
          - label: ubuntu-latest
            arch: amd64
            manifest-name: x64
          - label: ubuntu-24.04-arm
            arch: arm64
            manifest-name: arm64
          - label: ubuntu-24.04-arm
            arch: arm/v7
            manifest-name: arm32
    permissions:
      contents: read
      packages: write
    name: Build Container Image for ${{ matrix.build-targets.manifest-name }}
    runs-on: ${{ matrix.build-targets.label }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.sha }}
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        run: |
          docker buildx build \
            --platform linux/${{ matrix.build-targets.arch }} \
            --output push-by-digest=true,type=image,push=true \
            -t "ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${{ env.BUILD_IMAGE_NAME }}" \
            --provenance false \
            --iidfile ${{ runner.temp }}/image_id.txt \
            .
      - name: Write image sha to output
        id: write-image-sha
        run: |
          cat ${{ runner.temp }}/image_id.txt
          echo "${{ matrix.build-targets.manifest-name }}_sha=$(cat ${{ runner.temp }}/image_id.txt)" >> "$GITHUB_OUTPUT"
    outputs:
      x64_sha: ${{ steps.write-image-sha.outputs.x64_sha }}
      arm64_sha: ${{ steps.write-image-sha.outputs.arm64_sha }}
      arm32_sha: ${{ steps.write-image-sha.outputs.arm32_sha }}
  merge-container:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        image-tag:
          - latest
          - ${{ github.sha }}
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Merge images
        run: |
          docker buildx imagetools create "ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${{ env.BUILD_IMAGE_NAME }}:${{ matrix.image-tag }}" \
            --amend "ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${{ env.BUILD_IMAGE_NAME }}@${{ needs.build.outputs.x64_sha }}" \
            --amend "ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${{ env.BUILD_IMAGE_NAME }}@${{ needs.build.outputs.arm64_sha }}" \
            --amend "ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/${{ env.BUILD_IMAGE_NAME }}@${{ needs.build.outputs.arm32_sha }}"
