name: Build Container Image

on:
  push:
    branches: ["master"]
    paths:
      - Dockerfile
      - '.github/workflows/build-container-image.yml'
  workflow_dispatch:
env:
  BUILD_IMAGE_NAME: ghcr.io/johnnylin-a/le-cert-maker
  CR_HOST: ghcr.io
  CR_USERNAME: ${{ github.repository_owner }}

jobs:
  build:
    strategy:
      matrix:
        build-targets:
          - runner: ubuntu-latest
            platform: linux/amd64
            manifest-name: x64
          - runner: ubuntu-24.04-arm
            platform: linux/arm64
            manifest-name: arm64
          - runner: ubuntu-24.04-arm
            platform: linux/arm/v7
            manifest-name: arm32
    permissions:
      contents: read
      packages: write
    name: Build Container Image for ${{ matrix.build-targets.manifest-name }}
    runs-on: ${{ matrix.build-targets.runner }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.CR_HOST }}
          username: ${{ env.CR_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          tags: ${{ env.BUILD_IMAGE_NAME }}
          platforms: ${{ matrix.build-targets.platform }}
          outputs: type=image,push-by-digest=true,push=true
      - name: Write image sha to output
        id: write-image-sha
        run: |
          echo "${{ steps.build.outputs.digest }}"
          echo "${{ matrix.build-targets.manifest-name }}_sha=${{ steps.build.outputs.digest }}" >> "$GITHUB_OUTPUT"
    outputs:
      x64_sha: ${{ steps.write-image-sha.outputs.x64_sha }}
      arm64_sha: ${{ steps.write-image-sha.outputs.arm64_sha }}
      arm32_sha: ${{ steps.write-image-sha.outputs.arm32_sha }}
  merge-container:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: read
      packages: write
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.CR_HOST }}
          username: ${{ env.CR_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Merge images
        run: |
          docker buildx imagetools create -t "${{ env.BUILD_IMAGE_NAME }}:latest" \
            -t "${{ env.BUILD_IMAGE_NAME }}:${{ github.sha }}" \
            "${{ env.BUILD_IMAGE_NAME }}@${{ needs.build.outputs.x64_sha }}" \
            "${{ env.BUILD_IMAGE_NAME }}@${{ needs.build.outputs.arm64_sha }}" \
            "${{ env.BUILD_IMAGE_NAME }}@${{ needs.build.outputs.arm32_sha }}"